*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hello{
    margin: 20px;
    padding: 10px;
    border: 2px solid red;
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.blue